<h2>Chi tiết phí vận chuyển</h2>
<app-loading *ngIf="!data"></app-loading>
<div *ngIf="data" style="margin: 3em;">
    <p>
        <b>ID : </b>{{data.id}}
    </p>
    <p>
        <b>Loại vận chuyển : </b>{{ data.express? 'đơn giao nhanh' : 'đơn giao thường' }}
    </p>
    <p>
        <b>Khoảng cách vận chuyển : </b>{{data.distance}}
    </p>
    <p>
        <b>Phí COD : </b>{{data.cod}}
    </p>
    <p>
        <b>Phí bảo hiểm : </b>{{data.insurefee}}
    </p>
    <p>
        <b>Phí vận chuyển sau cùng : </b>{{data.fee}}
    </p>
</div>