<div class="title">
  <h2>Danh sách đơn vận chuyển</h2>
<!-- <button nz-button nzType="primary" [nzSize]="size" nzShape="round">
  Thêm mới 
  <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
</button> -->
</div>
<app-loading *ngIf="!listOfData"></app-loading>
<nz-table *ngIf="listOfData" #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Mã đơn hàng</th>
        <th>Ngày tạo đơn vận chuyển</th>
        <th>Trạng thái</th>
        <th>Chi tiết trạng thái</th>
        <th>Thời gian cập nhật trạng thái</th>
        <th>Chi tiết</th>
        <th>Chỉnh sửa</th>
        <th>Hủy đơn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
        <td>{{ data.id }}</td>
        <td>{{ data.orderCode }}</td>
        <td>{{ data.createAt }}</td>
        <td>{{ data.statusCode.desc }}</td>
        <td>{{ data.statusDetail }}</td>
        <td>{{ data.updateAt }}</td>
        <td><span nz-icon nzType="eye" nzTheme="outline" [routerLink]="'/shipping-order-detail/{{data.id}}'"></span></td>
        <td>
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </td>
        <td><span nz-icon nzType="close" nzTheme="outline"></span></td>
      </tr>
    </tbody>
  </nz-table>