<div class="title">
    <h2>Danh sách phí vận chuyển</h2>
  <!-- <button nz-button nzType="primary" [nzSize]="size" nzShape="round">
    Thêm mới 
    <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
  </button> -->
  </div>
  <app-loading *ngIf="!listOfData"></app-loading>
  <nz-table *ngIf="listOfData" #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>ID</th>
          <th>Loại vận chuyển</th>
          <th>Khoảng cách vận chuyển</th>
          <th>Phí COD</th>
          <th>Phí bảo hiểm</th>
          <th>Phí vận chuyển sau cùng</th>
          <th>Chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td>{{ data.id }}</td>
          <td>{{ data.express? 'đơn giao nhanh' : 'đơn giao thường' }}</td>
          <td>{{ data.distance }}</td>
          <td>{{ data.cod }}</td>
          <td>{{ data.insurefee }}</td>
          <td>{{ data.fee }}</td>
          <td><span nz-icon nzType="eye" nzTheme="outline" [routerLink]="'/shipping-order-fee-detail/{{data.id}}'"></span></td>
        </tr>
      </tbody>
    </nz-table>