<app-breadcrumb [listBreadCrumb]="listBreadCrumb"></app-breadcrumb>
<app-loading *ngIf="!data"></app-loading>
<div *ngIf="data">
  <!-- card -->
  <nz-card>
    <div nz-row>
      <div class="card-item" nz-col [nzXl]="6" [nzSm]="12" [nzXs]="24">
        <div>
          <span class="card-number">{{ orderQuantityByStatus }}</span
          ><span
            class="card-icon"
            nz-icon
            nzType="pause-circle"
            nzTheme="outline"
          ></span>
        </div>
        <p class="card-title">Tổng đơn hàng</p>
      </div>
      <div class="card-item" nz-col [nzXl]="6" [nzSm]="12" [nzXs]="24">
        <div>
          <span class="card-number">{{ data.orderQuantityByStatus["2"] }}</span
          ><span
            class="card-icon"
            nz-icon
            nzType="send"
            nzTheme="outline"
          ></span>
        </div>
        <p class="card-title">Đơn hàng đang giao</p>
      </div>
      <div class="card-item" nz-col [nzXl]="6" [nzSm]="12" [nzXs]="24">
        <div>
          <span class="card-number">{{ data.orderQuantityByStatus["3"] }}</span
          ><span
            class="card-icon"
            nz-icon
            nzType="check"
            nzTheme="outline"
          ></span>
        </div>
        <p class="card-title">Đơn hàng giao thành công</p>
      </div>
      <div class="card-item" nz-col [nzXl]="6" [nzSm]="12" [nzXs]="24">
        <div>
          <span class="card-number">{{ data.orderQuantityByStatus["4"] }}</span
          ><span
            class="card-icon"
            nz-icon
            nzType="close-circle"
            nzTheme="outline"
          ></span>
        </div>
        <p class="card-title">Đơn hàng đã hủy</p>
      </div>
    </div>
  </nz-card>

  <nz-row style="margin: 2em 1em">
    <!--List request table-->
    <div nz-col nzSpan="12">
    <h4 style="margin-bottom: 1rem;">Danh sách đơn hàng cần giao lại</h4>
      <nz-table #basicTable [nzData]="listOfDisplayData">
        <thead>
          <tr>
            <th>Mã đơn hàng	</th>
            <th>Ngày tạo đơn vận chuyển	</th>
            <th>Ghi chú</th>
            <th>Chi tiết</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfDisplayData">
            <td nzAlign="center">{{ data.orderCode }}</td>
            <td nzAlign="center">{{ data.createAt | date : "yyyy-MM-dd"}}</td>
            <td nzAlign="center">{{ data.statusDetail }}</td>
            <td nzAlign="center">
              <span
                nz-icon
                nzType="eye"
                nzTheme="outline"
                routerLink="/shipping-order-detail/{{ data.id }}/{{
                  data.orderCode
                }}"
              ></span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <!--Pie Chart-->
    <div nz-col [nzSpan]="12">
      <div style="height: 90%; display: flex; justify-content: center; min-height: 410px;">
        <canvas
          baseChart
          [datasets]="pieChartNumberOfSpendingData"
          [labels]="pieChartNumberOfSpendingLabels"
          [options]="pieChartNumberOfSpendingOptions"
          [plugins]="pieChartNumberOfSpendingPlugins"
          [legend]="pieChartNumberOfSpendingLegend"
          [type]="pieChartNumberOfSpendingType"
        >
        </canvas>
      </div>
    </div>
  </nz-row>

  <!-- chart  -->
  <div>
    <nz-card>
      <div class="chart-title">
        <p>Số đơn hàng tiếp nhận theo ngày</p>
      </div>

      <div class="chart-wrapper card">
        <canvas
          [height]="100"
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="barChartType"
        >
        </canvas>
      </div>
    </nz-card>
  </div>
</div>
